/**
 * Xcode Light and Dark theme for `prism.js`
 */

 /* Register your custom font family and tell the browser where to find it. */
@font-face {
    font-family: 'SF Mono';
    src: url('/fonts/sf-mono-regular') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

 :root {
	/* Dark mode colors */
	--background-color: #1F1F24;
	--border-color: #000000;
	--foreground-color: #dfdfe0;
	--comment-color: #6C7986;
	--punctuation-color: #DFDFE0;
	--keyword-color: #FF7AB2;
	--class-name-color: #5DD8FF;
	--boolean-color: #D0BF69;
	--deleted-color: #e21514;
	--number-color: #D0BF69;
	--string-color: #FC6A5D;
	--variable-color: #67B7A4;
	--operator-color: #A167E6;
	--entity-color: #5DD8FF;
	--url-color: #6699FF;
	--atrule-color: #D0BF69;
	--function-color: #41A1C0;
	--regex-color: #FC6A5D;
	--important-color: #FFA14F;
	--decorator-color: #FFFFFF;
	--font-family: 'SF Mono', Menlo, Monaco, Consolas, 'Courier New', monospace;
}

:root[data-theme='light'] {
	/* Light mode colors */
	--background-color: #FFFFFF;
	--border-color: #D9D7D5;
	--foreground-color: #282828;
	--comment-color: #309409;
	--punctuation-color: #000000;
	--keyword-color: #AD3DA4;
	--class-name-color: #23575C;
	--boolean-color: #000000;
	--deleted-color: #D12F1B;
	--number-color: #272AD8;
	--string-color: #D12F1B;
	--variable-color: #057CB0;
	--operator-color: #000000;
	--entity-color: #23575C;
	--url-color: #23575C;
	--atrule-color: #272AD8;
	--function-color: #3E8087;
	--regex-color: #D12F1B;
	--important-color: #78492A;
	--decorator-color: #000000;
	--font-family: 'SF Mono', Menlo, Monaco, Consolas, 'Courier New', monospace;
}

/* Base styles common to both light and dark themes */
code[class*="language-"],
pre[class*="language-"] {
	color: var(--foreground-color);
	text-shadow: none;
	font-family: var(--font-family);
	direction: ltr;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	line-height: 1.5;
	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;
	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
}

code[class*='language-'],
pre[class*="language-"] {
	padding: 1em;
	margin: .5em 0;
	overflow: auto;
	border-radius: 0.5em;
	background: var(--background-color);
	border-color: var(--border-color);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

:not(pre) > code[class*="language-"] {
	padding: .1em;
	border-radius: .3em;
	background: var(--background-color);
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
	color: var(--comment-color);
}

.token.punctuation {
	color: var(--punctuation-color);
}

.token.property,
.token.keyword,
.token.tag,
.token.constant.language,
.token.storage.type,
.token.variable.language {
	color: var(--keyword-color);
	font-weight: bold;
}

.token.class-name {
	color: var(--class-name-color);
}

.token.boolean,
.token.constant {
	color: var(--boolean-color);
}

.token.symbol,
.token.deleted {
	color: var(--deleted-color);
}

.token.number {
	color: var(--number-color);
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
	color: var(--string-color);
}

.token.variable {
	color: var(--variable-color);
}

.token.operator {
	color: var(--operator-color);
}

.token.entity {
	color: var(--entity-color);
	cursor: help;
}

.token.url {
	color: var(--url-color);
}

.language-css .token.string,
.style .token.string {
	color: var(--string-color);
}

.token.atrule,
.token.attr-value {
	color: var(--atrule-color);
}

.token.function {
	color: var(--function-color);
}

.token.regex {
	color: var(--regex-color);
}

.token.important {
	color: var(--important-color);
	font-weight: bold;
}

.token.italic {
	font-style: italic;
}

.token.decorator,
.meta.brace.round {
	color: var(--decorator-color);
}

.entity.other.attribute-name.js {
	color: var(--atrule-color);
}

.meta.tag.without-attributes.js,
.meta.jsx.children.js {
	color: var(--decorator-color);
}

.punctuation.terminator.statement {
	color: var(--decorator-color);
}

.punctuation.accessor.optional {
	color: var(--operator-color);
}

.token.info-token {
	color: #6796E6;
}

.token.warn-token {
	color: #CD9731;
}

.token.error-token {
	color: #F44747;
}

.token.debug-token {
	color: #B267E6;
}
