---
import Card from './Card.astro';
import Grid from './Grid.astro';

export interface Props {
	minimal?: boolean;
	links: {
		title: string;
		description?: string;
        logo: string
		href: string;
	}[];
	class?: string;
}

const { links, minimal = false, class: classes } = Astro.props as Props;

const currentPage = new URL(Astro.request.url).pathname;
---

<section class:list={['cards-nav', classes, 'not-content']}>
	<slot />
	<Grid minimal={minimal}>
		{
			links.map(({ description, href, logo, title}) => (
				<Card
					{...{ minimal, logo, href}}
					current={currentPage.includes(href)}
				>
					<Fragment slot="title" set:html={title} />
					<Fragment slot="details">
						{description && <p class="description">{description}</p>}
					</Fragment>
				</Card>
			))
		}
	</Grid>
</section>

<style>
	.description {
		color: var(--sl-color-gray-2);
		font-size: var(--sl-text-body-sm);
	}

	.tags {
		gap: 0.5rem;
	}
</style>