:root {
    --ifm-link-color: var(--ifm-color-emphasis-800);
    --ifm-link-hover-color: var(--ifm-color-emphasis-700);
    --ifm-link-hover-decoration: none;
  }
  
  [data-theme='dark'] {

  }
  
  .slLinkCard {
    box-shadow: 0 1.5px 3px 0 rgb(0 0 0 / 15%);
    border: 1px solid var(--ifm-color-emphasis-200);
    transition: all var(--ifm-transition-fast) ease;
    transition-property: border, box-shadow;

    background-color: var(--ifm-card-background-color);
    border-radius: var(--ifm-card-border-radius);
    box-shadow: var(--ifm-global-shadow-lw);
    display: flex;
    flex-direction: row;
    overflow: hidden;
    padding: 1rem !important;
    justify-content: space-between;
    align-items: center;
  }
  
  a {
    text-decoration: none;
    line-height: var(--link-card-line-height-headings);
  }
  
  
  .stack {
    flex-direction: column;
    gap: 0.5rem;
  }
  
  .title {
    color: var(--link-card-title-color);
    font-weight: 600;
    font-size: var(--link-card-font-size-lg);
  }
  
  .description {
    color: var(--link-card-description-color);
    line-height: 1.5;
  }
  
  .icon {
    color: var(--link-card-icon-color);
  }
  
  /* Hover state */
  .slLinkCard:hover {
    border-color: var(--ifm-color-primary);
    box-shadow: 0 3px 6px 0 rgb(0 0 0 / 20%);
    cursor: pointer;
  }
  
  .slLinkCard:hover .icon {
    color: var(--link-card-icon-hover);
  }
  